<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.empMapper"> <!-- namespace:이름공간 -->
	<insert id="insertEmp" parameterType="entity.Emp">
		<![CDATA[
			INSERT INTO EMP(ENO, ENAME, PHONE,DEPT)
			VALUES(SEQ_ENO.NEXTVAL, #{ename}, #{phone}, #{dept})
		]]>
	</insert>

	<select id="listEmp" resultType="entity.Emp">
		<![CDATA[
			SELECT * FROM EMP
		]]>
	</select>

	<update id="updateEmp" parameterType="entity.Emp">
		<![CDATA[
			UPDATE EMP
			SET PHONE=#{phone}, DEPT=#{dept}
			WHERE ENO=#{eno}
		]]>
	</update>
	
	<delete id="deleteEmp" parameterType="java.lang.Integer">
		<![CDATA[
			DELETE
			FROM EMP
			WHERE ENO=#{eno}
		]]>
	</delete>
	
	<select id="searchNo" parameterType="java.lang.Integer" resultType="entity.Emp">
		<![CDATA[
			SELECT *
			FROM EMP
			WHERE ENO=#{eno}
		]]>	
	</select>
	
	<select id="searchEmp" parameterType="hashmap" resultType="entity.Emp">
		<![CDATA[
			SELECT *
			FROM EMP
			WHERE ENO <= #{eno} AND DEPT LIKE #{dept}
		]]>
	</select> <!-- ~보다 작다(&lt;) , ~보다 크다(&gt;) -->
</mapper>









